.bg-primary-color {
  background-color: #2b36d9;
}
.text-primary {
  color: #2b36d9;
}
.bg-accent3 {
  background-color: #5c3e8e !important;
}
.bg-primary9 {
  background-color: #e8d6ea;
}
.bg-blueGrey-100 {
  background-color: #ced7db;
}
.text-blueGrey-700 {
  color: #445963;
}
.text-blueGrey-800 {
  color: #35454c;
}
.text-blueGrey-300 {
  color: #94a8b1;
}
.text-blueGrey-900 {
  color: #28353a;
}
.text-blueGrey-400 {
  color: #8097a2;
}
.bg-table-header {
  background-color: #eff2f3;
}
.text-coolGrey-500 {
  color: #64748b;
}
.text-blueGrey-600 {
  color: #57727e;
}
.bg-blueGrey-50 {
  background-color: #eff2f3;
}
